.container {
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgba(232, 239, 255, 0.247);
    margin: 1vw;
}

h2 {
    color: #3f51b5;
    margin-left: 2rem;
}

h3 {
    margin-bottom: 2rem;
    margin-right: 10rem;
}

.payments {
    width: 80%;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f4f4f4;
    padding: 1rem;
    margin: 1rem;
    display: flex;
    align-items: center;
    flex-flow: column;
}

mat-radio-group {
    display: flex;
    flex-flow: column;
}

.btn-next {
    margin: 2rem;
    width: 20vw;
    height: 5vh;
}