<ngx-spinner type="ball-scale-multiple"></ngx-spinner>
<div>
    <mat-icon aria-hidden="true" svgIcon="account-login">account_circle</mat-icon>
    <form [formGroup]="loginForm" class="login-form" (ngSubmit)="submitLogin()">

        <mat-form-field>
            <mat-label>Username</mat-label>
            <input formControlName="username" matInput type="text">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Password</mat-label>
            <input formControlName="password" matInput type="password">
        </mat-form-field>
        <a routerLink="/registration">Ainda não é cadastrado! Cadastre-se</a>

        <button mat-raised-button type="submit" color="accent">Confirmar</button>
    </form>
</div>