<div class="container">

  <header>
    <mat-toolbar color="primary" class="mat-toolbar-header  mat-elevation-z5">
      <div>

        <img src="../assets/img/5350888.jpg" height="65px" alt="Logo">


        <a>

          Online Shop
        </a>
      </div>

      <div>

        <button mat-button routerLink="/">Página inicial</button>
        <button mat-button [routerLink]="['/products',categories[0]]">Smartphones</button>
        <button mat-button [routerLink]="['/products',categories[1]]">Laptops</button>

      </div>
      <div>

        <button mat-icon-button color="accent" aria-label="Access the cart page" routerLink="/cart">
          <mat-icon><span class="material-icons-outlined">
              shopping_cart
            </span></mat-icon>
        </button>

        <button class="account" mat-icon-button color="accent" aria-label="Access the cart page" routerLink="/account">
          {{name}}
          <mat-icon><span class="material-icons-outlined">
              account_circle
            </span></mat-icon>
        </button>
        <button *ngIf="isLoged" mat-button (click)="logout()">Logout</button>

      </div>
    </mat-toolbar>
  </header>

  <div class="content" role="main">
    <router-outlet></router-outlet>
  </div>


  <mat-toolbar color="primary" class="mat-toolbar-header">
    <div>

      <button mat-button routerLink="/">Página inicial</button>
      <button mat-button [routerLink]="['/products',categories[0]]">Smartphones</button>
      <button mat-button [routerLink]="['/products',categories[1]]">Laptops</button>

    </div>
    <div>

      Powered by <a href="https://angular.io/">Angular</a>
    </div>
  </mat-toolbar>
</div>