.container {
    width: max-content;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgba(232, 239, 255, 0.247);
    margin: 1vw;
    margin-left: 20%;
    padding-inline-start: 3rem;
}

form {
    padding: 2rem;
}