<ngx-spinner type="ball-scale-multiple"></ngx-spinner>
<div class="container">

    <h2>Registrar Conta </h2>
    <form [formGroup]="userForm" (ngSubmit)="salvar()">
        <h5>Dados pessoais</h5>
        <table cellspacing="20px">
            <tr>
                <td>
                    <mat-form-field>
                        <mat-label>Primeiro nome</mat-label>
                        <input formControlName="firstName" type="text" matInput>
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field>
                        <mat-label>Sobrenome </mat-label>
                        <input formControlName="lastName" type="text" matInput>
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td>
                    <mat-form-field>
                        <mat-label>Telefone </mat-label>
                        <input formControlName="phone" matInput>
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field>
                        <mat-label>E-mail </mat-label>
                        <input formControlName="email" matInput type="email">
                    </mat-form-field>
                    <mat-checkbox class="example-margin">Assine nossa newsletter!</mat-checkbox>
                </td>
            </tr>
        </table>

        <h5>Endereço</h5>
        <table cellspacing="10px">
            <tr>
                <td>
                    <mat-form-field>
                        <mat-label>Endereço</mat-label>
                        <input formControlName="endereco" matInput placeholder="Ex. 100 Main St">
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field>
                        <mat-label>Número</mat-label>
                        <input formControlName="number" type="number" matInput>
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field class="example-full-width">
                        <mat-label>Complemento</mat-label>
                        <textarea formControlName="complement" matInput></textarea>
                    </mat-form-field>
                </td>
            </tr>

            <tr>
                <td>
                    <mat-form-field>
                        <mat-label>Cidade</mat-label>
                        <input formControlName="city" matInput placeholder="Ex. San Francisco">
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field class="example-full-width">
                        <mat-label>Estado</mat-label>
                        <input formControlName="state" matInput placeholder="Ex. California">
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field class="example-full-width">
                        <mat-label>CEP</mat-label>
                        <input formControlName="cep" matInput #postalCode maxlength="9" placeholder="Ex. 00000-000">
                        <mat-hint align="end">{{postalCode.value.replace('-', '').length}} / 8</mat-hint>
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <mat-slide-toggle value="active" color="primary" #toggle>Adicionar novo endereço</mat-slide-toggle>
            </tr>
        </table>

        <div *ngIf="toggle.checked">
            <h5>Endereço 2</h5>
            <table cellspacing="10px">
                <tr>
                    <td>
                        <mat-form-field>
                            <mat-label>Endereço</mat-label>
                            <input formControlName="endereco" matInput placeholder="Ex. 100 Main St">
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field>
                            <mat-label>Número</mat-label>
                            <input formControlName="number" type="number" matInput>
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field class="example-full-width">
                            <mat-label>Complemento</mat-label>
                            <textarea formControlName="complement" matInput></textarea>
                        </mat-form-field>
                    </td>
                </tr>

                <tr>
                    <td>
                        <mat-form-field>
                            <mat-label>Cidade</mat-label>
                            <input formControlName="city" matInput placeholder="Ex. San Francisco">
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field class="example-full-width">
                            <mat-label>Estado</mat-label>
                            <input formControlName="state" matInput placeholder="Ex. California">
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field class="example-full-width">
                            <mat-label>CEP</mat-label>
                            <input formControlName="cep" matInput #postalCode maxlength="9" placeholder="Ex. 00000-000">
                            <mat-hint align="end">{{postalCode.value.replace('-', '').length}} / 8</mat-hint>
                        </mat-form-field>
                    </td>
                </tr>
            </table>
        </div>

        <button mat-raised-button type="submit" color="accent">Salvar</button>

    </form>
</div>